:root {
    --yellow: #f1c40f;
    --red: #e74c3c;
    --green: #2ecc71;
    --blue: #3498db;
    --orange: #f39c12;
    --purple: #9b59b6;
    --pink: #e91e63;
}

body {
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    user-select: none;
}

.galindo-regular {
    font-family: 'Galindo', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.join-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 100px;
}

#nickname_input {
    border-radius: 20px;
    height: 100%;
}

#play_btn {
    background-color: rgb(43, 110, 255);
    border-radius: 20px;
    height: 100%;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game-bl-hud {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    margin: 10px;
    color: white;
}

.upgrade {
    /* border-radius: 15px;
    background-color: rgb(25 25 25);
    height: 15px;
    border: solid rgb(25 25 25) 5px; */
    display: flex;
    /* Set constant width for upgrade  */
    width: 270px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}

.levels {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(25 25 25);
    height: 20px;
    border: solid rgb(25 25 25) 5px;
}

.levels > div:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.levels > div:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 0;
}

.level-item {
    margin-right: 5px;
    background-color: #a93d3d;
    width: 25px;
    height: 100%;
}
.increase-level {
    background-color: #57d547;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(25 25 25);

    font-weight: bolder;
    margin-left: auto;
}

.increase-level:hover {
    /* white wash the background */
    opacity: 0.8;
    cursor: pointer;
}

.title {
    font-size: 14px;
    position: absolute;
    margin-right: 25px;
}

.yellow {
    background-color: var(--yellow);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.orange {
    background-color: var(--orange);
}

.purple {
    background-color: var(--purple);
}

.pink {
    background-color: var(--pink);
}

.shadow-text-7 {
    text-shadow: rgb(25 25 25) 7px 0px 0px, rgb(25 25 25) 6.7800821279004175px 1.7408292101539835px 0px,
        rgb(25 25 25) 6.134146760307045px 3.3722757187120074px 0px, rgb(25 25 25) 5.102780391949881px 4.7918297415008215px 0px,
        rgb(25 25 25) 3.750787564852976px 5.910295478514105px 0px, rgb(25 25 25) 2.163118960624632px 6.657395614066075px 0px,
        rgb(25 25 25) 0.43953363670519313px 6.986187098997901px 0px, rgb(25 25 25) -1.3116692021000738px 6.87601075510082px 0px,
        rgb(25 25 25) -2.980455040955509px 6.333789367262137px 0px, rgb(25 25 25) -4.461967928240828px 5.393592699430525px 0px,
        rgb(25 25 25) -5.663118960624631px 4.114496766047313px 0px, rgb(25 25 25) -6.50843540121776px 2.576871868792744px 0px,
        rgb(25 25 25) -6.9448029092013455px 0.8773326349501287px 0px, rgb(25 25 25) -6.9448029092013455px -0.87733263495013px 0px,
        rgb(25 25 25) -6.508435401217759px -2.576871868792748px 0px, rgb(25 25 25) -5.66311896062463px -4.1144967660473135px 0px,
        rgb(25 25 25) -4.461967928240827px -5.393592699430526px 0px, rgb(25 25 25) -2.9804550409555053px -6.333789367262138px 0px,
        rgb(25 25 25) -1.3116692021000724px -6.876010755100821px 0px, rgb(25 25 25) 0.4395336367051961px -6.986187098997901px 0px,
        rgb(25 25 25) 2.1631189606246304px -6.6573956140660755px 0px, rgb(25 25 25) 3.7507875648529776px -5.910295478514104px 0px,
        rgb(25 25 25) 5.102780391949883px -4.791829741500818px 0px, rgb(25 25 25) 6.134146760307045px -3.3722757187120074px 0px,
        rgb(25 25 25) 6.780082127900418px -1.7408292101539815px 0px;
}
.shadow-text-6 {
    text-shadow: rgb(25 25 25) 6px 0px 0px, rgb(25 25 25) 5.8114989667717865px 1.4921393229891287px 0px,
        rgb(25 25 25) 5.257840080263182px 2.890522044610292px 0px, rgb(25 25 25) 4.373811764528469px 4.107282635572132px 0px,
        rgb(25 25 25) 3.2149607698739793px 5.06596755301209px 0px, rgb(25 25 25) 1.8541019662496847px 5.706339097770921px 0px,
        rgb(25 25 25) 0.3767431171758798px 5.988160370569629px 0px, rgb(25 25 25) -1.124287887514349px 5.893723504372131px 0px,
        rgb(25 25 25) -2.5546757493904364px 5.428962314796117px 0px, rgb(25 25 25) -3.8245439384921385px 4.623079456654736px 0px,
        rgb(25 25 25) -4.854101966249684px 3.5267115137548393px 0px, rgb(25 25 25) -5.578658915329509px 2.2087473161080666px 0px,
        rgb(25 25 25) -5.952688207886867px 0.7519994013858246px 0px, rgb(25 25 25) -5.952688207886867px -0.7519994013858258px 0px,
        rgb(25 25 25) -5.578658915329507px -2.2087473161080697px 0px, rgb(25 25 25) -4.854101966249683px -3.52671151375484px 0px,
        rgb(25 25 25) -3.824543938492137px -4.623079456654736px 0px, rgb(25 25 25) -2.554675749390433px -5.428962314796118px 0px,
        rgb(25 25 25) -1.1242878875143478px -5.893723504372132px 0px, rgb(25 25 25) 0.3767431171758823px -5.988160370569629px 0px,
        rgb(25 25 25) 1.8541019662496834px -5.706339097770922px 0px, rgb(25 25 25) 3.2149607698739806px -5.06596755301209px 0px,
        rgb(25 25 25) 4.3738117645284715px -4.10728263557213px 0px, rgb(25 25 25) 5.257840080263182px -2.890522044610292px 0px,
        rgb(25 25 25) 5.811498966771787px -1.4921393229891269px 0px;
}
.shadow-text-5 {
    text-shadow: rgb(25 25 25) 5px 0px 0px, rgb(25 25 25) 4.842915805643155px 1.243449435824274px 0px,
        rgb(25 25 25) 4.381533400219318px 2.4087683705085765px 0px, rgb(25 25 25) 3.644843137107058px 3.4227355296434436px 0px,
        rgb(25 25 25) 2.6791339748949827px 4.221639627510076px 0px, rgb(25 25 25) 1.5450849718747373px 4.755282581475767px 0px,
        rgb(25 25 25) 0.3139525976465665px 4.990133642141358px 0px, rgb(25 25 25) -0.9369065729286241px 4.911436253643443px 0px,
        rgb(25 25 25) -2.1288964578253635px 4.524135262330097px 0px, rgb(25 25 25) -3.1871199487434487px 3.852566213878946px 0px,
        rgb(25 25 25) -4.045084971874736px 2.9389262614623664px 0px, rgb(25 25 25) -4.648882429441257px 1.8406227634233887px 0px,
        rgb(25 25 25) -4.9605735065723895px 0.6266661678215204px 0px, rgb(25 25 25) -4.9605735065723895px -0.6266661678215214px 0px,
        rgb(25 25 25) -4.648882429441256px -1.8406227634233916px 0px, rgb(25 25 25) -4.045084971874736px -2.938926261462367px 0px,
        rgb(25 25 25) -3.1871199487434474px -3.852566213878947px 0px, rgb(25 25 25) -2.128896457825361px -4.524135262330099px 0px,
        rgb(25 25 25) -0.9369065729286231px -4.911436253643443px 0px, rgb(25 25 25) 0.3139525976465686px -4.990133642141358px 0px,
        rgb(25 25 25) 1.5450849718747361px -4.755282581475768px 0px, rgb(25 25 25) 2.6791339748949836px -4.221639627510075px 0px,
        rgb(25 25 25) 3.6448431371070593px -3.4227355296434414px 0px, rgb(25 25 25) 4.381533400219318px -2.4087683705085765px 0px,
        rgb(25 25 25) 4.842915805643156px -1.2434494358242725px 0px;
}
.shadow-text-4 {
    text-shadow: rgb(25 25 25) 4px 0px 0px, rgb(25 25 25) 3.8743326445145243px 0.9947595486594192px 0px,
        rgb(25 25 25) 3.5052267201754543px 1.9270146964068613px 0px, rgb(25 25 25) 2.915874509685646px 2.738188423714755px 0px,
        rgb(25 25 25) 2.143307179915986px 3.3773117020080603px 0px, rgb(25 25 25) 1.2360679774997898px 3.804226065180614px 0px,
        rgb(25 25 25) 0.2511620781172532px 3.9921069137130862px 0px, rgb(25 25 25) -0.7495252583428993px 3.9291490029147544px 0px,
        rgb(25 25 25) -1.7031171662602909px 3.619308209864078px 0px, rgb(25 25 25) -2.549695958994759px 3.082052971103157px 0px,
        rgb(25 25 25) -3.2360679774997894px 2.351141009169893px 0px, rgb(25 25 25) -3.719105943553006px 1.472498210738711px 0px,
        rgb(25 25 25) -3.9684588052579115px 0.5013329342572164px 0px, rgb(25 25 25) -3.9684588052579115px -0.5013329342572171px 0px,
        rgb(25 25 25) -3.719105943553005px -1.4724982107387132px 0px, rgb(25 25 25) -3.236067977499789px -2.3511410091698934px 0px,
        rgb(25 25 25) -2.549695958994758px -3.0820529711031575px 0px, rgb(25 25 25) -1.7031171662602886px -3.619308209864079px 0px,
        rgb(25 25 25) -0.7495252583428985px -3.929149002914755px 0px, rgb(25 25 25) 0.2511620781172549px -3.9921069137130862px 0px,
        rgb(25 25 25) 1.236067977499789px -3.8042260651806146px 0px, rgb(25 25 25) 2.143307179915987px -3.37731170200806px 0px,
        rgb(25 25 25) 2.9158745096856475px -2.738188423714753px 0px, rgb(25 25 25) 3.5052267201754543px -1.9270146964068613px 0px,
        rgb(25 25 25) 3.8743326445145247px -0.994759548659418px 0px;
}
.shadow-text-3 {
    text-shadow: rgb(25 25 25) 3px 0px 0px, rgb(25 25 25) 2.9057494833858932px 0.7460696614945643px 0px,
        rgb(25 25 25) 2.628920040131591px 1.445261022305146px 0px, rgb(25 25 25) 2.1869058822642344px 2.053641317786066px 0px,
        rgb(25 25 25) 1.6074803849369896px 2.532983776506045px 0px, rgb(25 25 25) 0.9270509831248424px 2.8531695488854605px 0px,
        rgb(25 25 25) 0.1883715585879399px 2.9940801852848145px 0px, rgb(25 25 25) -0.5621439437571745px 2.9468617521860656px 0px,
        rgb(25 25 25) -1.2773378746952182px 2.7144811573980583px 0px, rgb(25 25 25) -1.9122719692460692px 2.311539728327368px 0px,
        rgb(25 25 25) -2.427050983124842px 1.7633557568774196px 0px, rgb(25 25 25) -2.7893294576647545px 1.1043736580540333px 0px,
        rgb(25 25 25) -2.9763441039434335px 0.3759997006929123px 0px, rgb(25 25 25) -2.9763441039434335px -0.3759997006929129px 0px,
        rgb(25 25 25) -2.7893294576647536px -1.1043736580540349px 0px, rgb(25 25 25) -2.4270509831248415px -1.76335575687742px 0px,
        rgb(25 25 25) -1.9122719692460686px -2.311539728327368px 0px, rgb(25 25 25) -1.2773378746952164px -2.714481157398059px 0px,
        rgb(25 25 25) -0.5621439437571739px -2.946861752186066px 0px, rgb(25 25 25) 0.18837155858794116px -2.9940801852848145px 0px,
        rgb(25 25 25) 0.9270509831248417px -2.853169548885461px 0px, rgb(25 25 25) 1.6074803849369903px -2.532983776506045px 0px,
        rgb(25 25 25) 2.1869058822642358px -2.053641317786065px 0px, rgb(25 25 25) 2.628920040131591px -1.445261022305146px 0px,
        rgb(25 25 25) 2.9057494833858937px -0.7460696614945634px 0px;
}
